html {
  height: 100%;
  background: #79BE00;
  font-size: 4;
}
body {
  min-height: 100%;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
  line-height: 1.5;
  background: #eee;
}
.form-item-field-descriptions-0-value {
  float: left;
}
#edit-field-command-to-be-involved-wrapper {
  float: right;
}
#edit-field-alias-command-wrapper {
  float: right;
  margin-top: 10%;
  margin-right: -25%;
}
.region-sidebar-first {
  margin-top: 10%;
}

.right {
  float: right;
  margin-right: 47%;
  margin-top: -2%;
  height: 50%;
}
.left {
  margin-left: 16%;
  height: 50%;

}
.centr {
  margin-left: 16%;
}

.rights {
  float: right;
  margin-top: -12.5%;
  margin-right: 30%;
}
.lefts {
  margin-left: 20%;
}

